.task {
   
}

.task-wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid gray; 
}

.task-wrapper .title {
    font-size: 25px;
}

.task-wrapper .id {
    width: calc(20% - 40px);
    font-size: 20px;
}

.task__info {
    width: 80%;  
    color: gray;  
}

.task__info a {
    color: white;
}

.task-wrapper .text {
    padding: 15px;
}

@media (min-width: 300px) {
    .task {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .task {
        width: 50%;
    }
}