
.home-container {
    background:  #282c34;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.tasks-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-container .add-task {
    margin-top: 20px;
}